Django>=6.0,<7.0
daphne>=4.2.0
channels>=4.3.0
channels_redis>=4.3.0
celery>=5.6.0
redis>=8.1.0
psycopg2-binary>=2.9.9
pillow>=12.0.0
cloudinary>=1.46.0
django-cloudinary-storage>=0.3.0
python-dotenv>=1.2.0
razorpay>=2.0.0
requests>=2.34.0
tzlocal>=5.4.0
djangorestframework>=3.15.0
dj-database-url>=2.1.0
langchain>=0.3.0
langchain-core>=0.3.0
langchain-community>=0.3.0
langchain-openai>=0.2.0
langchain-groq>=0.2.0
langgraph>=0.2.0
django-debug-toolbar>=4.4.6
